name: Deploy MkDocs

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: python -m pip install -U pip
      - run: python -m pip install -e .
      - run: python -m pip install "mkdocs-material" "mkdocstrings[python]" "mkdocs-jupyter" "griffe"

      - env:
          JUPYTER_PLATFORM_DIRS: "1"
        run: mkdocs build --clean --strict

      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./site
          force_orphan: true
